div.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
  text-align: center;
}

img {
  max-width: 100%;
}

.nav-header {
  background-color: red;
  box-shadow: 0 0 6px black;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.left  { float: left; }
.right { float: right; }

.btn-group {
  margin: 0 20px;
  padding: 10px 0;
}

.btn {
  background-color: red;
  border: solid black;
  border-radius: 1px;
  color: blue;
  font-family: georgia;
  padding: 6px 20px;
  display: block;
  text-decoration: none;
  transition: 0.4s;
  width: 55px;
  margin-bottom: 8px;
}

.btn:hover {
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.30), 0 17px 50px 0 rgba(0,0,0,0.25);
}

h1 {
  text-shadow: 2px 2px;
}

h1 {
  text-shadow: 2px 2px red;
}

h1 {
  text-shadow: 2px 2px 5px red;
}

h1 {
border: 3px solid black;
}

h2 {
  text-shadow: 2px 2px;
}

h2 {
  text-shadow: 2px 2px red;
}

h2 {
  text-shadow: 2px 2px 5px red;
}

h3 {
  text-shadow: 2px 2px;
}

h3 {
  text-shadow: 2px 2px red;
}

h3 {
  text-shadow: 2px 2px 5px red;
}

h4 {
  text-shadow: 2px 2px;
}

h4 {
  text-shadow: 2px 2px red;
}

h4 {
  text-shadow: 2px 2px 5px red;
}

h5 {
  text-shadow: 2px 2px 5px red;
}

h6 {
  text-shadow: 2px 2px 5px red;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30cm;
    word-wrap: break-word;
    text-align: Center;
}


p {
    font-size: 20px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 25px;
}

body {
  background-color: #D3D3D3;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
   border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {

  padding-left: 90px;
}

button {

  margin-left: .5em;
}

@media screen and (max-width: 992px) {
  .btn {
    background-color: green;
  }
}

  @media screen and (max-width: 768px) {
    .btn {
      background-color: purple;
    }
  }

@media screen and (max-width: 480px) {
  .btn {
    background-color: blue;
  }
}
